<html>
  <head>
    <title>Welcome to ansible</title>
  </head>

  <body>
<p style="text-align:center"><span style="font-size:22px">Hi Leeway welcome to nginx</span></p>

<p style="text-align:center"><span style="font-size:14px">This site configure by Ansible.</span></p>

<p style="text-align:center"><span style="font-size:14px">Andy.</span></p>
  </body>
</html>
