<html>
  <head>
    <title>Welcome to ansible</title>
  </head>

  <body>
<p style="text-align:center"><span style="font-size:26px">Welcome to nginx</span></p>

<p style="text-align:center"><span style="font-size:18px">This site configure by Ansible.</span></p>

<p style="text-align:center"><span style="font-size:18px">Andy.</span></p>
  </body>
</html>
